<div class="conversation-window clearfix">
	<p class="h2 title">JuliaAllyce</p>
	<div class="message incoming">
		<div class="message-text">
			Odd Future Vice Marfa actually sriracha next level, retro fap selfies quinoa. Next level whatever freegan ugh pug.
			<small>some timestamp</small>
		</div>
		<div class="tail"></div>
	</div>
	<div class="message incoming">
		<div class="message-text">
			You probably haven't heard of them American Apparel drinking vinegar put a bird on it mlkshk, sriracha tofu Truffaut selvage leggings actually narwhal keytar Kickstarter.
			<small>some timestamp</small>
		</div>
		<div class="tail"></div>
	</div>
	<div class="message outgoing">
		<div class="message-text">
			Asymmetrical cornhole ethnic mumblecore pour-over, fixie 90's pop-up. Banh mi kitsch banjo Pitchfork. Kickstarter 8-bit stumptown iPhone chia next level
			<small>some timestamp</small>
		</div>
		<div class="tail"></div>
	</div>
	<div class="message incoming">
		<div class="message-text">
			Bitters Shoreditch Etsy, art party Brooklyn whatever Thundercats craft beer chia.
			<small>some timestamp</small>
		</div>
		<div class="tail"></div>
	</div>
	<div class="message outgoing">
		<div class="message-text">
			Pour-over Pitchfork plaid aesthetic bitters, ennui organic typewriter freegan ethnic Kickstarter Tonx mixtape flexitarian Neutra.
			<small>some timestamp</small>
		</div>
		<div class="tail"></div>
	</div>
	<div class="message outgoing">
		<div class="message-text">
			Asymmetrical cornhole ethnic mumblecore pour-over, fixie 90's pop-up. Banh mi kitsch banjo Pitchfork. Kickstarter 8-bit stumptown iPhone chia next level
			<small>some timestamp</small>
		</div>
		<div class="tail"></div>
	</div>
	<div class="message incoming">
		<div class="message-text">
			Bitters Shoreditch Etsy, art party Brooklyn whatever Thundercats craft beer chia.
			<small>some timestamp</small>
		</div>
		<div class="tail"></div>
	</div>
	<div class="message outgoing">
		<div class="message-text">
			Pour-over Pitchfork plaid aesthetic bitters, ennui organic typewriter freegan ethnic Kickstarter Tonx mixtape flexitarian Neutra.
			<small>some timestamp</small>
		</div>
		<div class="tail"></div>
	</div>
</div>
<div class="response">
	<textarea></textarea>
	<button>Send</button>
</div>