<div class="sign-in-up text-center">
<h1>Yup Yup</h1>
<input type="text" id="email" placeholder="email"/>
<input type="password" id="password" placeholder="password"/>
<button class="btn-primary sign-in">Sign In</button>
</div>