<div class="sign-in-up">
<h1>Yup Yup</h1>
<input type="text" placeholder="Email"/>
<input type="password" placeholder="password"/>
<button class="btn-primary">Sign In</button><button class="">Sign Up</button>
</div>