<nav class="top-nav">
	<li><a class="menu-link hidden" href="#">Menu!</a></li>
	<li><a href="#" class="logo">Yup Yup</a></li>
	<li class="pull-right"><a class="user-state" href="#">Log In</a></li>
</nav>
<div class="side-nav"></div>
<div class="content"></div>