<nav class="top-nav">
	<li><a class="menu-link" href="#">Menu!</a></li>
	<li><a href="#" class="logo">Yup Yup</a></li>
	<li class="pull-right"><a href="#">User State</a></li>
</nav>
<div class="side-nav"></div>
<div class="content"></div>