<div class="sign-in-up text-center">
<img src="/app/build/images/yupyup.png" />
<div class="error-msg"></div>
<input type="text" id="email" placeholder="email"/>
<input type="password" id="password" placeholder="password"/>
<button class="btn-primary sign-in">Sign In</button>
<p>or <a href="#" class="sign-up">Sign Up</a></p>
</div>