<div class="sign-in-up text-center">
<h1>Yup Yup</h1>
<div class="error-msg"></div>
<input type="text" id="email" placeholder="Email"/>
<input type="text" id="name" placeholder="Name"/>
<input type="text" id="handle" placeholder="Handle"/>
<input type="password" id="password" placeholder="Password"/>
{{!-- <input type="password" id="confpassword" placeholder="confirm password"/> --}}
<button class="btn-primary sign-up">Sign Up</button>
</div>